<template>
  <div class="o-results">
    <Totals
      v-if="results"
      :results="results"
      :page="page"
      :query-amount="queryAmount"
    />
    <div
      v-for="item in results.items"
      :key="item.id"
      class="o-results-card__container"
    >
      <Card :item="item" />
    </div>
    <Pagination
      :current-page="page"
      :query-amount="queryAmount"
      :totals="results.total_count"
      @update:page="updatePage($event)"
    />
  </div>
</template>

<script>
import Card from '~/components/molecules/Card'
import Pagination from '~/components/molecules/Pagination'
import Totals from '~/components/atoms/Totals'

export default {
  name: 'Results',
  components: {
    Card,
    Pagination,
    Totals
  },
  props: {
    results: {
      type: Object,
      default: null
    },
    page: {
      type: Number,
      default: 1
    },
    queryAmount: {
      type: Number,
      default: 1
    }
  },
  methods: {
    /**
     * event emitter to pass page to parent container
     */
    updatePage(value) {
      this.$emit('update:results', {
        page: value.page
      })
    }
  }
}
</script>

.<style scoped>
.o-results-card__container {
  @apply flex flex-col w-3/4 mx-auto my-12 items-center bg-white rounded-lg;
}
</style>
