<template>
  <div class="m-card">
    <div class="m-card-left">
      <a v-if="item.avatar_url" :href="item.html_url">
        <img
          :src="item.avatar_url"
          :alt="`${item.login}'s Avatar`"
          class="m-card-left__image"
        />
      </a>
    </div>
    <div class="m-card-middle">
      <div v-if="userInfo" class="m-card-middle__info">
        <a :href="item.html_url" class="m-card-middle__info--name">{{
          userInfo.name
        }}</a>
        <a :href="item.html_url" class="m-card-middle__info--username">
          {{ item.login }}
        </a>
        <p>
          <a>{{ userInfo.company }}</a>
        </p>
        <p class="m-card-middle__info--bio">
          {{ userInfo.bio }}
        </p>
        <p class="m-card-middle__info--contact">
          <span v-if="userInfo.location">{{ userInfo.location }}</span>
          <span v-if="userInfo.email">{{ userInfo.email }}</span>
        </p>
        <p class="m-card-middle__info--followers">
          Followers: <strong>{{ userInfo.followers }}</strong>
        </p>
        <p class="m-card-middle__info--following">
          Following: <strong>{{ userInfo.following }}</strong>
        </p>
      </div>
      <div v-if="error" v-html="error" />
    </div>
    <div class="m-card-right">
      <a :href="item.url" target="_blank">
        <Button
          name="button"
          button-text="GitHub API Profile"
          size="base"
          bg-color="gray-500"
          bg-color-hover="gray-600"
        />
      </a>
    </div>
  </div>
</template>

<script>
import Button from '~/components/atoms/Button'
import { fetchUser } from '~/services/'

export default {
  name: 'Card',
  components: {
    Button
  },
  props: {
    item: {
      type: Object,
      default: null
    }
  },
  data() {
    return {
      error: null,
      userInfo: {}
    }
  },
  mounted() {
    this.fetchUserInfo()
  },
  methods: {
    /**
     * fetch call to get the users personal info like name, location, bio, followers, stars, etc
     */
    async fetchUserInfo() {
      const url = `https://api.github.com/users/${this.item.login}`
      this.userInfo = await fetchUser(url).catch((error) => {
        this.error = error.message
      })
    }
  }
}
</script>

<style scoped>
.m-card {
  @apply w-full px-6 py-5 flex border-t border-b;
}
.m-card-left {
  @apply flex-shrink-0;
}
.m-card-middle {
  @apply text-center text-left ml-4 w-full;
}
.m-card-left__image {
  @apply h-16 w-16 rounded-full mx-auto;
}
.m-card-middle__info,
.m-card-middle__organizations {
  @apply block;
}
.m-card-middle__info--name:hover,
.m-card-middle__info--username:hover {
  @apply underline;
}
.m-card-middle__info--bio {
  @apply text-sm;
}
.m-card-middle__info--contact {
  @apply text-sm text-gray-600;
}
.m-card-middle__info--name {
  @apply text-blue-600 font-bold;
}
.m-card-middle__info--username {
  @apply text-gray-600 font-bold;
}
.m-card-middle__info--followers,
.m-card-middle__info--following {
  @apply text-gray-800;
}
</style>
