<template>
  <form class="m-form" @submit.prevent>
    <Input
      ref="input"
      v-model="input"
      class="m-form__input"
      type="search"
      @input:selected="triggerSubmit"
      @input:update="updateInput"
      @input:submit="triggerSubmit"
    />
    <Button
      ref="button"
      :button-text="buttonText"
      :event-bindings="{ click: triggerSubmit }"
      aria-label="Submit Search"
      name="Search Input Button"
      class="m-form__button"
      @click="triggerSubmit"
    />
    <Select :items="queryAmount" class="m-form__select" />
  </form>
</template>

<script>
import Button from '~/components/atoms/Button'
import Input from '~/components/atoms/Input'
import Select from '~/components/atoms/Select'

export default {
  name: 'Form',
  components: {
    Button,
    Input,
    Select
  },
  props: {
    buttonText: {
      type: String,
      default: 'Button'
    },
    queryAmount: {
      type: Array,
      default: null
    }
  },
  data() {
    return {
      input: ''
    }
  },
  methods: {
    /**
     * update the input value
     */
    updateInput(value) {
      this.input = value.value
    },
    /**
     * find child display suggested dropdown and toggle off &
     * triggerer event to pass input to parent
     */
    triggerSubmit() {
      this.$refs.input.displaySuggested = false
      setTimeout(() => {
        this.$emit('submit', {
          value: this.input
        })
      }, 10)
      // this.$emit('submit', {
      //   value: this.input
      // })
    }
  }
}
</script>

<style scoped>
.m-form {
  @apply inline-flex;
}
.m-form__input,
.m-form__select {
  @apply mt-1;
}
.m-form__button {
  @apply h-12 mt-8;
}
.m-form__input {
  @apply w-2/4;
}
</style>
