<template>
  <div class="m-pagination">
    <Button
      ref="previous"
      :button-text="buttonTextPrevious"
      :disabled="isPreviousDisabled"
      :event-bindings="{ click: triggerPrev }"
      name="Previous Button"
      size="base"
      bg-color="blue-500"
      bg-color-hover="blue-600"
      text-color="white"
      class="m-pagination-button"
    />
    <ol class="m-pagination-list">
      <li
        v-for="(item, index) in pages"
        :key="index"
        class="m-pagination-list--item"
        @click="triggerPage(item)"
      >
        <Button
          :ref="item"
          :data-cy="item"
          :disabled="localPage === item || item === '...'"
          :button-text="item.toString()"
          :name="`${item} Page Button`"
          size="base"
          bg-color="blue-500"
          bg-color-hover="blue-600"
          text-color="white"
          class="m-pagination-button"
        />
      </li>
    </ol>
    <Button
      ref="next"
      :button-text="buttonTextNext"
      :disabled="isNextDisabled"
      :event-bindings="{ click: triggerNext }"
      name="Next Button"
      size="base"
      bg-color="blue-500"
      bg-color-hover="blue-600"
      text-color="white"
      class="m-pagination-button"
    />
  </div>
</template>

<script>
import Button from '~/components/atoms/Button'

export default {
  name: 'Pagination',
  components: {
    Button
  },
  props: {
    buttonTextNext: {
      type: String,
      default: 'Next'
    },
    buttonTextPrevious: {
      type: String,
      default: 'Previous'
    },
    currentPage: {
      type: Number,
      default: 1
    },
    maxVisibleButtons: {
      type: Number,
      default: 5
    },
    queryAmount: {
      type: Number,
      default: 10
    },
    totals: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      /**
       * copied from the prop so it can be changed and passed back up
       */
      localPage: this.currentPage
    }
  },
  computed: {
    /**
     * simple check if previous button should be disabled
     *
     * @returns {Boolean}
     */
    isPreviousDisabled() {
      return this.currentPage <= 1
    },
    /**
     * check if next button should be disabled
     *
     * @returns {Boolean}
     */
    isNextDisabled() {
      return this.currentPage >= this.totalPages
    },
    /**
     * calculate the total pages from the totals and query amount
     *
     * @returns {Number}
     */
    totalPages() {
      return Math.ceil(this.totals / this.queryAmount)
    },
    /**
     * calculate the range of numbers to dispaly and where to move the current page
     * in relation
     *
     * @returns {Object}
     */
    range() {
      let start, end

      if (this.totalPages <= this.maxVisibleButtons) {
        start = 1
        end = this.totalPages
      } else {
        const maxPagesBeforeCurrent = Math.floor(this.maxVisibleButtons / 2)
        const maxPagesAfterCurrent = Math.ceil(this.maxVisibleButtons / 2) - 1
        if (this.localPage <= maxPagesBeforeCurrent) {
          start = 1
          end = this.maxVisibleButtons
        } else if (this.localPage + maxPagesAfterCurrent >= this.totalPages) {
          start = this.totalPages - this.maxVisibleButtons + 1
          end = this.totalPages
        } else {
          start = this.localPage - maxPagesBeforeCurrent
          end = this.localPage + maxPagesAfterCurrent
        }
      }
      return { start, end }
    },
    /**
     * function that will use the range and then add in the ellipses where appropriate.
     *
     * Will check where the current page is located and then will determine when and where the
     * ellipses is displayed.  Checks if current page is under 5, otherwise display all entry pages, if over,
     * start beginning ellipses process.  Simillarly it functions for reverse for the total pages, but it
     * lists up to the 5 before starting to display ellipses.
     *
     * @returns [Array]
     */
    pages() {
      const pages = []
      if (this.range.end === this.range.start) {
        return pages
      }
      if (this.currentPage > 4) {
        for (const i of this.beginningPages) {
          pages.push(i)
        }
        pages.push('...')
      } else {
        for (let i = 1; i < this.range.end + 1; ++i) {
          pages.push(i)
        }
      }
      if (this.currentPage >= this.totalPages - 4) {
        if (this.currentPage < 5) {
          //
        } else {
          for (let i = this.range.start; i < this.totalPages + 1; ++i) {
            pages.push(i)
          }
        }
      } else {
        if (this.currentPage > 4) {
          for (let i = this.range.start; i < this.range.end + 1; ++i) {
            pages.push(i)
          }
        }
        pages.push('...')
        for (const i of this.lastPages) {
          pages.push(i)
        }
      }
      return pages
    },
    /**
     * determine beginning pages
     */
    beginningPages() {
      return Array.from(Array(2).keys()).map((i) => 1 + i)
    },
    /**
     * determine ending pages
     */
    lastPages() {
      return Array.from(
        Array(this.totalPages - (this.totalPages - 2)).keys()
      ).map((i) => this.totalPages - 1 + i)
    }
  },
  watch: {
    currentPage(newVal) {
      this.localPage = newVal
    }
  },
  methods: {
    /**
     * increase page and trigger emitter
     */
    triggerNext() {
      if (this.currentPage !== this.totalPages) {
        this.localPage += 1
      }
      this.triggerEmit()
    },
    /**
     * decrease page and trigger emitter
     */
    triggerPrev() {
      if (this.currentPage > 0) {
        this.localPage -= 1
      }
      this.triggerEmit()
    },
    /**
     * update page from page number, trigger emitter
     */
    triggerPage(event) {
      this.localPage = event
      this.triggerEmit()
    },
    /**
     * trigger emitter to be passed to parent
     */
    triggerEmit() {
      scroll(0, 0)
      document.activeElement.blur()
      this.$emit('update:page', {
        page: this.localPage
      })
    }
  }
}
</script>

<style scoped>
.m-pagination {
  @apply flex justify-center;
}
.m-pagination-button {
  /* @apply */
}
.m-pagination-list {
  @apply inline-flex;
}
.m-pagination-list--item .a-button {
  @apply bg-white text-gray-500;
}
.m-pagination-list--item .a-button:hover {
  @apply bg-gray-200;
}
</style>
