<template>
  <button
    :class="className"
    :disabled="isDisabled"
    :type="type"
    :name="name"
    :value="value"
    :tab-index="tabIndex"
    v-on="eventBindings"
  >
    {{ buttonText }}
  </button>
</template>

<script>
export default {
  name: 'Button',
  props: {
    buttonText: {
      type: String,
      default: 'Button'
    },
    bgColor: {
      type: String,
      default: 'blue-500'
    },
    bgColorHover: {
      type: String,
      default: 'blue-700'
    },
    eventBindings: {
      type: Object,
      default() {
        return {}
      }
    },
    isDisabled: {
      type: Boolean,
      default: false
    },
    name: {
      type: String,
      required: true
    },
    size: {
      type: String,
      default: 'lg'
    },
    textColor: {
      type: String,
      default: 'white'
    },
    type: {
      type: String,
      default: 'button'
    },
    tabIndex: {
      type: Number,
      default: undefined
    },
    value: {
      type: [String, Number],
      default: undefined
    }
  },
  data() {
    return {}
  },
  computed: {
    className() {
      return `a-button text-${this.size} bg-${this.bgColor} hover:bg-${this.bgColorHover} text-${this.textColor} font-bold py-2 px-4 rounded`
    }
  }
}
</script>

<style scoped>
.a-button:disabled {
  @apply bg-transparent text-gray-400 !important;
}
</style>
