<template>
  <div class="a-input">
    <label v-if="!labelHidden" class="a-input__label">
      {{ placeHolderText }}
    </label>
    <input
      v-model="inputValue"
      :placeholder="placeHolderText"
      type="search"
      class="a-input__input"
      @keyup="fetchQuery"
      @keyup.enter="onSubmit"
    />
    <ul v-show="displaySuggested" class="a-input__autocomplete">
      <li v-if="isLoading" class="a-input__autocomplete--loading">
        Loading...
      </li>
      <li v-else-if="fetchError" v-html="fetchError" />
      <li
        v-for="(item, index) in userQuery.items.slice(0, 3)"
        v-else-if="userQuery"
        :key="index"
        class="a-input__autocomplete--results"
        @click="updateInput(item.login)"
      >
        {{ item.login }}
      </li>
    </ul>
  </div>
</template>

<script>
import { fetchUser } from '~/services/'

export default {
  name: 'Input',
  props: {
    placeHolderText: {
      type: String,
      default: 'Search GitHub Users'
    }
  },
  data() {
    return {
      API_ENDPOINT: 'https://api.github.com/search/users',
      isLoading: false,
      fetchError: null,
      labelHidden: false,
      inputValue: '',
      displaySuggested: false,
      timeout: null,
      userQuery: null
    }
  },
  watch: {
    /**
     * if input is changed, trigger event emitter
     */
    inputValue(newValue) {
      this.onInput(newValue)
    }
  },
  methods: {
    /**
     * query to fetch user profiles for suggestions
     */
    fetchQuery() {
      this.displaySuggested = true
      if (this.inputValue) {
        const API = `${this.API_ENDPOINT}?q=${this.inputValue}`
        if (this.timeout) clearTimeout(this.timeout)
        this.timeout = setTimeout(async () => {
          this.userQuery = await fetchUser(API).catch((error) => {
            this.fetchError = error
          })
          this.isLoading = false
        }, 500)
      }
    },
    /**
     * toggle suggested and trigger event
     */
    updateInput(value) {
      this.inputValue = value
      this.displaySuggested = false
      this.$emit('input:selected', {
        value
      })
    },
    /**
     * trigger on input event
     */
    onInput(value) {
      this.isLoading = true
      this.$emit('input:update', {
        value
      })
    },
    /**
     * trigger on submit event
     */
    onSubmit() {
      this.$emit('input:submit', {
        value: this.inputValue
      })
    }
  }
}
</script>

<style scoped>
.a-input {
  @apply text-left;
}
.a-input__label {
  @apply block text-gray-700 text-sm font-bold mb-2;
}
.a-input__input {
  @apply w-full border rounded mb-2 py-3 px-4 text-gray-700 leading-tight bg-gray-400;
}
.a-input__clear {
  @apply fill-current h-6 w-6 text-red-500 float-right -mt-8;
}
input[type='search']::-webkit-search-cancel-button {
  @apply fill-current h-6 w-6;
}
.a-input__autocomplete {
  @apply -mt-2 bg-gray-100;
}
.a-input__autocomplete--results,
.a-input__autocomplete--loading {
  @apply py-3 px-4;
}
.a-input__autocomplete--results:hover {
  @apply bg-gray-200;
}
.a-input__autocomplete--results:not(:first-child):not(:last-child) {
  @apply border-t border-b;
}
</style>
