<template>
  <div class="a-select">
    <label class="a-select-label">Select Query Amount</label>
    <select class="a-select-container">
      <option v-for="item of items" :key="item.id">{{ item }}</option>
    </select>
  </div>
</template>

<script>
export default {
  name: 'Select',
  props: {
    items: {
      type: Array,
      default: null
    }
  }
}
</script>

<style scoped>
.a-select-label {
  @apply block text-gray-700 text-sm font-bold mb-2;
}
.a-select-container {
  @apply bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight;
}
.a-select-container:focus {
  @apply outline-none bg-white border-gray-500;
}
</style>
