<template>
  <div class="a-totals">
    {{ string }}
  </div>
</template>

<script>
export default {
  name: 'Totals',
  props: {
    results: {
      type: Object,
      default: null
    },
    page: {
      type: Number,
      default: 1
    },
    selected: {
      type: Number,
      default: 10
    }
  },
  computed: {
    indexStart() {
      return this.page === 1 ? this.page : (this.page - 1) * this.selected
    },
    indexEnd() {
      return this.page * this.results?.items.length
    },
    totalPages() {
      return Math.ceil(this.results.total_count / this.selected)
    },
    string() {
      return `Displaying ${this.indexStart}-${this.indexEnd} of ${this.totalPages} pages.  Total results of ${this.results.total_count}`
    }
  }
}
</script>
