<template>
  <div class="p-container">
    <header class="p-container-header">
      <img
        class="p-container-header__logo"
        src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
      />
      <Form
        :query-amount="selectOptions"
        button-text="Search"
        class="p-container-header__form"
        @submit="fetchUserInfo"
      />
    </header>
    <section>
      <Results
        v-if="searched && userInfo"
        :page="page"
        :query-amount="selectedOption"
        :results="userInfo"
        @update:results="updatePage($event)"
      />
      <div v-if="error" v-html="error" />
    </section>
  </div>
</template>

<script>
import Form from '~/components/molecules/Form'
import Results from '~/components/organisms/Results'
import { fetchUser } from '~/services/'

export default {
  components: {
    Form,
    Results
  },
  data() {
    return {
      API_ENDPOINT: 'https://api.github.com/search/users',
      error: null,
      query: '',
      page: 1,
      selectOptions: [10, 20, 50, 100],
      selectedOption: 10,
      searched: false,
      userInfo: ''
    }
  },
  methods: {
    async fetchUserInfo(item) {
      this.$emit('fetch:user')
      if (item) {
        this.query = item.value
        const API = `${this.API_ENDPOINT}?q=${this.query}&page=${this.page}&per_page=${this.selectedOption}`
        this.userInfo = await fetchUser(API).catch((error) => {
          this.error = error.message
        })
        this.$router.push({
          query: {
            q: this.query,
            page: this.page
          }
        })
      }
      this.searched = true
    },
    async updatePage(value) {
      if (value.page) {
        this.page = value.page
      }
      const query = { value: this.query }
      await this.fetchUserInfo(query)
    }
  }
}
</script>

<style>
/* Sample `apply` at-rules with Tailwind CSS
.container {
  @apply min-h-screen flex justify-center items-center text-center mx-auto;
}
*/
.p-container {
  @apply text-center mx-auto;
}
.p-container-header {
  @apply flex align-top;
}
.p-container-header__logo {
  @apply inline-flex h-24 w-24 rounded-full;
}
.p-container-header__form {
  @apply w-full;
}
/* .p-container-form {
  @apply inline-block;
} */
</style>
